In [1]:
!wget https://www.sqlite.org/src/tarball/sqlite.tar.gz?r=release -O sqlite.tar.gz
!tar xzf sqlite.tar.gz
%cd sqlite/
!./configure
!make sqlite3.c
%cd /content
!npx degit coleifer/pysqlite3 -f
!cp sqlite/sqlite3.[ch] .
!python setup.py build_static build
!cp build/lib.linux-x86_64-3.6/pysqlite3/_sqlite3.cpython-36m-x86_64-linux-gnu.so \
    /usr/lib/python3.6/lib-dynload/_sqlite3.cpython-36m-x86_64-linux-gnu.so

--2020-12-03 06:07:13--  https://www.sqlite.org/src/tarball/sqlite.tar.gz?r=release
Resolving www.sqlite.org (www.sqlite.org)... 45.33.6.223, 2600:3c00::f03c:91ff:fe96:b959
Connecting to www.sqlite.org (www.sqlite.org)|45.33.6.223|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11101880 (11M) [application/x-compressed]
Saving to: ‘sqlite.tar.gz’

sqlite.tar.gz       100%[===================>]  10.59M  37.5MB/s    in 0.3s

2020-12-03 06:07:14 (37.5 MB/s) - ‘sqlite.tar.gz’ saved [11101880/11101880]

/content/sqlite
checking build system type... x86_64-pc-linux-gnu
checking host system type... x86_64-pc-linux-gnu
checking for gcc... gcc
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of executables...
checking whether we are cross compiling... no
checking for suffix of object files... o
checking whether we are using the GNU C compiler... yes
checking whether gcc accepts -g... yes
checking for gcc option to accept ISO C89... none needed
checking for a sed that does not truncate output... /bin/sed
checking for grep that handles long lines and -e... /bin/grep
checking for egrep... /bin/grep -E
checking for fgrep... /bin/grep -F
checking for ld used by gcc... /usr/bin/ld
checking if the linker (/usr/bin/ld) is GNU ld... yes
checking for BSD- or MS-compatible name lister (nm)... /usr/bin/nm -B
checking the name lister (/usr/bin/nm -B) interface... BSD nm
checking whether ln -s works... yes
checking the maximum length of command line arguments... 1572864
checking whether the shell understands some XSI constructs... yes
checking whether the shell understands "+="... yes
checking for /usr/bin/ld option to reload object files... -r
checking for objdump... objdump
checking how to recognize dependent libraries... pass_all
checking for ar... ar
checking for strip... strip
checking for ranlib... ranlib
checking command to parse /usr/bin/nm -B output from gcc object... ok
./configure: line 5194: /usr/bin/file: No such file or directory
checking how to run the C preprocessor... gcc -E
checking for ANSI C header files... yes
checking for sys/types.h... yes
checking for sys/stat.h... yes
checking for stdlib.h... yes
checking for string.h... yes
checking for memory.h... yes
checking for strings.h... yes
checking for inttypes.h... yes
checking for stdint.h... yes
checking for unistd.h... yes
checking for dlfcn.h... yes
checking for objdir... .libs
checking if gcc supports -fno-rtti -fno-exceptions... no
checking for gcc option to produce PIC... -fPIC -DPIC
checking if gcc PIC flag -fPIC -DPIC works... yes
checking if gcc static flag -static works... yes
checking if gcc supports -c -o file.o... yes
checking if gcc supports -c -o file.o... (cached) yes
checking whether the gcc linker (/usr/bin/ld) supports shared libraries... yes
checking whether -lc should be explicitly linked in... no
checking dynamic linker characteristics... GNU/Linux ld.so
checking how to hardcode library paths into programs... immediate
checking whether stripping libraries is possible... yes
checking if libtool supports shared libraries... yes
checking whether to build shared libraries... yes
checking whether to build static libraries... yes
checking for a BSD-compatible install... /usr/bin/install -c
checking for special C compiler options needed for large files... no
checking for _FILE_OFFSET_BITS value needed for large files... no
checking for int8_t... yes
checking for int16_t... yes
checking for int32_t... yes
checking for int64_t... yes
checking for intptr_t... yes
checking for uint8_t... yes
checking for uint16_t... yes
checking for uint32_t... yes
checking for uint64_t... yes
checking for uintptr_t... yes
checking for sys/types.h... (cached) yes
checking for stdlib.h... (cached) yes
checking for stdint.h... (cached) yes
checking for inttypes.h... (cached) yes
checking malloc.h usability... yes
checking malloc.h presence... yes
checking for malloc.h... yes
checking for fdatasync... yes
checking for gmtime_r... yes
checking for isnan... yes
checking for localtime_r... yes
checking for localtime_s... no
checking for malloc_usable_size... yes
checking for strchrnul... yes
checking for usleep... yes
checking for utime... yes
checking for pread... yes
checking for pread64... yes
checking for pwrite... yes
checking for pwrite64... yes
checking for tclsh8.7... no
checking for tclsh8.6... tclsh8.6
configure: Version set to 3.34
configure: Release set to 3.34.0
checking whether to support threadsafe operation... yes
checking for library containing pthread_create... -lpthread
checking for library containing pthread_mutexattr_init... none required
checking whether to support shared library linked as release mode or not... no
checking whether to use an in-ram database for temporary tables... no
checking if executables have the .exe suffix... unknown
checking for Tcl configuration... found /usr/lib/tclConfig.sh
checking for existence of /usr/lib/tclConfig.sh... loading
checking for library containing readline... no
checking for library containing tgetent... -lncurses
checking for readline in -lreadline... yes
checking readline.h usability... no
checking readline.h presence... no
checking for readline.h... no
checking for /usr/include/readline.h... no
checking for /usr/include/readline/readline.h... yes
checking for library containing fdatasync... none required
checking zlib.h usability... yes
checking zlib.h presence... yes
checking for zlib.h... yes
checking for library containing deflate... -lz
checking for library containing dlopen... -ldl
checking whether to support MEMSYS5... no
checking whether to support MEMSYS3... no
configure: creating ./config.status
config.status: creating Makefile
config.status: creating sqlite3.pc
config.status: creating config.h
config.status: config.h is unchanged
config.status: executing libtool commands
make: 'sqlite3.c' is up to date.
/content
npx: installed 1 in 1.026s
> destination directory is not empty. Using --force, continuing
> cloned coleifer/pysqlite3#master
running build_static
Builds a C extension using a sqlite3 amalgamation
building 'pysqlite3._sqlite3' extension
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -I. -I/usr/include/python3.6m -c src/module.c -o build/temp.linux-x86_64-3.6/src/module.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -I. -I/usr/include/python3.6m -c src/connection.c -o build/temp.linux-x86_64-3.6/src/connection.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -I. -I/usr/include/python3.6m -c src/cursor.c -o build/temp.linux-x86_64-3.6/src/cursor.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -I. -I/usr/include/python3.6m -c src/cache.c -o build/temp.linux-x86_64-3.6/src/cache.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -I. -I/usr/include/python3.6m -c src/microprotocols.c -o build/temp.linux-x86_64-3.6/src/microprotocols.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -I. -I/usr/include/python3.6m -c src/prepare_protocol.c -o build/temp.linux-x86_64-3.6/src/prepare_protocol.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -I. -I/usr/include/python3.6m -c src/statement.c -o build/temp.linux-x86_64-3.6/src/statement.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -I. -I/usr/include/python3.6m -c src/util.c -o build/temp.linux-x86_64-3.6/src/util.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -I. -I/usr/include/python3.6m -c src/row.c -o build/temp.linux-x86_64-3.6/src/row.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -I. -I/usr/include/python3.6m -c src/blob.c -o build/temp.linux-x86_64-3.6/src/blob.o
x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -I. -I/usr/include/python3.6m -c ./sqlite3.c -o build/temp.linux-x86_64-3.6/./sqlite3.o
x86_64-linux-gnu-gcc -pthread -shared -Wl,-O1 -Wl,-Bsymbolic-functions -Wl,-Bsymbolic-functions -Wl,-z,relro -Wl,-Bsymbolic-functions -Wl,-z,relro -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 build/temp.linux-x86_64-3.6/src/module.o build/temp.linux-x86_64-3.6/src/connection.o build/temp.linux-x86_64-3.6/src/cursor.o build/temp.linux-x86_64-3.6/src/cache.o build/temp.linux-x86_64-3.6/src/microprotocols.o build/temp.linux-x86_64-3.6/src/prepare_protocol.o build/temp.linux-x86_64-3.6/src/statement.o build/temp.linux-x86_64-3.6/src/util.o build/temp.linux-x86_64-3.6/src/row.o build/temp.linux-x86_64-3.6/src/blob.o build/temp.linux-x86_64-3.6/./sqlite3.o -o build/lib.linux-x86_64-3.6/pysqlite3/_sqlite3.cpython-36m-x86_64-linux-gnu.so -lm
running build
running build_py
running build_ext
Builds a C extension linking against libsqlite3 library

In [69]:
import pandas as pd
import numpy as np
import sqlite3
conn = sqlite3.connect('db')
cur = conn.cursor()
sqlite3.sqlite_version

'3.34.0'

In [70]:
t1 = pd.DataFrame( {'Код_менеджера' : [1,2,3,4,5,6,7,8], 
                    'Тип_точки': [1,1, 1,2,2,2,1,2], 
                    'Продажи_тонн': [100,150, np.nan, 250, 50, 300,90,120]}
                  )

In [8]:
# мелкие точки Мск
t2 = pd.DataFrame( {'Код_менеджера' : [1,2], 
                    'ФИО_менеджера': ['aa', 'bb']}
                  )

In [9]:
# мелкие точки спб
t3 = pd.DataFrame( {'Код_менеджера' : [3,7], 
                    'ФИО_менеджера': ['cc', 'dd']}
                  )

In [53]:
# крупные точки мск и спб
t4 = pd.DataFrame( {'Код_менеджера' : [4,5,6,8,1,7], 
                    'ФИО_менеджера': ['ss', 'ff', 'gg', 'pp', 'aa', 'dd'],
                    'Город' : ['Мск', 'Мск', 'Спб', 'Мск', 'Мск', 'Спб']}
                  )

In [71]:
t1.to_sql('t1', conn, index=False, if_exists='replace')
t2.to_sql('t2', conn, index=False, if_exists='replace')
t3.to_sql('t3', conn, index=False, if_exists='replace')
t4.to_sql('t4', conn, index=False, if_exists='replace')

In [13]:
sql = ''' select * from t1'''

In [14]:
pd.read_sql(sql,conn)

   Код_менеджера  Тип_точки  Продажи_тонн
0              1          1           100
1              2          1           150
2              3          1           200
3              4          2           250
4              5          2            50
5              6          2           300
6              7          1            90
7              8          2           120

In [15]:
# фукнция для чтения и вывода запроса
def select(sql):
  return pd.read_sql(sql,conn)

In [16]:
select(sql)

   Код_менеджера  Тип_точки  Продажи_тонн
0              1          1           100
1              2          1           150
2              3          1           200
3              4          2           250
4              5          2            50
5              6          2           300
6              7          1            90
7              8          2           120

Существуют менеджеры, которые могут обслуживать и мелкие, и крупные торговые точки одного города.

То есть часть менеджеров во 2 и 4 таблице могут пересекаться, а также часть менеджеров в 3 и 4 таблице могут пересекаться.

1) Продажи в разрезе менеджеров (ФИО), которые одновременно обслуживают и крупные, и мелкие точки Москвы

In [41]:
sql = '''
select t.ФИО_менеджера, sum(t1.Продажи_тонн) from (
select * from t2 where exists ( select * from t4 where t2.Код_менеджера=t4.Код_менеджера)
union
select t4.Код_менеджера, t4.ФИО_менеджера from  t4 where exists ( select * from  t2 where t4.Код_менеджера=t2.Код_менеджера )
) t
left join t1 on t1.Код_менеджера=t.Код_менеджера
order by 1
'''

In [42]:
select(sql)

  ФИО_менеджера  sum(t1.Продажи_тонн)
0            aa                   100

2) Продажи в разрезе менеджеров (ФИО), обслуживающих только крупные точки в Санкт-Петербурге

In [67]:
sql = '''
Select t.ФИО_менеджера, sum(t1.Продажи_тонн) from (
select t4.Код_менеджера, t4.ФИО_менеджера from  t4 where not exists 
( select * from  t3 where t4.Код_менеджера=t3.Код_менеджера )
and t4.Город == 'Спб'
) t
left join t1 on t1.Код_менеджера=t.Код_менеджера
order by 1
'''

In [68]:
select(sql)

  ФИО_менеджера  sum(t1.Продажи_тонн)
0            gg                   300

3) Полный список менеджеров, работающих в Санкт-Петербурге. Напротив каждого менеджера указать суммарную величину его продаж, если продаж нет, то указываем 0

In [106]:
sql = '''

select a.ФИО_менеджера, sum(a.rev) from (
select t4.ФИО_менеджера, ifnull(t1.Продажи_тонн,0) as rev from t4

left join t1 on t1.Код_менеджера=t4.Код_менеджера
where t4.Город='Спб'
union
select t3.ФИО_менеджера, ifnull(t1.Продажи_тонн,0) as rev from t3
left join t1 on t1.Код_менеджера=t3.Код_менеджера
) a
group by a.ФИО_менеджера
'''

In [107]:
select(sql)

  ФИО_менеджера  sum(a.rev)
0            cc         0.0
1            dd        90.0
2            gg       300.0

4) Добавить к запросу п.3 условие, при котором будут выводиться продажи только по тем менеджерам, которые суммарно продали больше 100 тонн

In [110]:
sql = '''
select a.ФИО_менеджера, sum(a.rev) from (
select t4.ФИО_менеджера, ifnull(t1.Продажи_тонн,0) as rev from t4

left join t1 on t1.Код_менеджера=t4.Код_менеджера
where t4.Город='Спб'
union
select t3.ФИО_менеджера, ifnull(t1.Продажи_тонн,0) as rev from t3
left join t1 on t1.Код_менеджера=t3.Код_менеджера
) a
group by a.ФИО_менеджера
having sum(a.rev)>100
'''

In [111]:
select(sql)

  ФИО_менеджера  sum(a.rev)
0            gg       300.0

5) Удалить из таблицы 1 данные с Тип_точки "Мелкая"

In [ ]:
sql = '''
delete from t1
where t1.Тип_точки = 'Мелкая'
'''

6) Добавить в таблицу 1 данные с Тип_точки "Мелкая", которые будут равны данным с Тип_точки "Крупная"